.jumbotron {
    margin-bottom: 50px;
    background-size: cover;
    background-color: transparent;
    background-image: url('../images/curry2.jpg');
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    min-height: 400px;
}

.masthead {
    background-color: #337ab7;
}

.masthead > div {
    margin: 50px 50px;
}

.header-text {
    color: white;
}

.simple-post {
    height: 200px;
    border: 1px solid;
    word-break: break-all;
}

* {
    box-sizing: border-box;
}

.alert-debug {
    color: #333;
    background-color: #eee;
    border-color: #ccc;
}

.post {
    border: 1px solid;
    padding: 15px;
}

#id_content_iframe {
    border: 0px;
    padding: 0;
}
