* {
    box-sizing: border-box;
}

.jumbotron {
    margin-bottom: 50px;
    background-size: cover;
    background-color: transparent;
    background-image: url('../images/curry2.jpg');
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    min-height: 400px;
}

.header-text {
    color: white;
}

.simple-post {
    float: left;
    width: 23.3%;
    height: 200px;
    background-color: #E6E6E6;
    margin: 10px;
    position: relative;
    cursor: pointer;
}

.simple-post div {
    margin: 0 10px;
}

.simple-post .status {
    position: absolute;
    bottom: 30px;
}

.alert-debug {
    color: #333;
    background-color: #eee;
    border-color: #ccc;
}

.post {
    padding: 15px;
}

#id_content_iframe {
    border: 0px;
    padding: 0;
}

.navbar-default .navbar-brand {
    color: white !important;
}

.navbar-default .navbar-brand:hover {
    color: black !important;
}

.navbar-fixed-top {
    background: #337ab7;
}


/*=====================================google map of posting================================================*/
#container {
    position: relative;
}

#map-canvas {
    width: 600px;
    height: 400px;
}

#map-search {
    position: absolute;
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    left: 90px;
    top: 0px;
    z-index: 1;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
/*================================================================================================*/