* {
    box-sizing: border-box;
}

.jumbotron {
    margin-bottom: 50px;
    background-size: cover;
    background-color: transparent;
    background-image: url('../images/curry2.jpg');
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    min-height: 400px;
}

.masthead {
    background-color: #337ab7;
}

.masthead > div {
    margin: 50px 50px;
}

.header-text {
    color: white;
}

.simple-post {
    float: left;
    width: 23.3%;
    height: 200px;
    background-color: #E6E6E6;
    margin: 10px;
    position: relative;
    cursor: pointer;
}

.simple-post div {
    margin: 0 10px;
}

.simple-post .status {
    position: absolute;
    bottom: 30px;
}

.alert-debug {
    color: #333;
    background-color: #eee;
    border-color: #ccc;
}

.post {
    padding: 15px;
}

#id_content_iframe {
    border: 0px;
    padding: 0;
}
