{% extends 'recruit/base.html' %}

{% block content %}

    <div class="col-md-12">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-hover table-condensed" >
                <tr>
                    <th class="col-md-2">ID</th>
                    <th class="col-md-5">title</th>
                    <th class="col-md-5">description</th>
                </tr>
                {% for bookmark in bookmarks %}
                <tr style="cursor:hand;" onclick="location.href='{% url 'recruit:post_detail' pk=bookmark.post_id %}'">
                    <td>{{ bookmark.id }}</td>
                    <td>{{ bookmark.title }}</td>
                    <td>{{ bookmark.description }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <nav style="text-align:center;">
        <ul class="pagination">
            {% if bookmarks.has_previous %}
            <li>
              <a href="{% url 'recruit:bookmarks' page=bookmarks.previous_page_number %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% else %}
            <li class="enabled">
                <span aria-hidden="true">&laquo;</span>
            </li>
            {% endif %}

            {% for page in page_range %}
                {% if page == posts.number %}
                    <li class="active"><a href="{% url 'recruit:bookmarks' page=page %}">{{ page }}<span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li><a href="{% url 'recruit:bookmarks' page=page %}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if posts.has_next %}
            <li>
              <a href="{% url 'recruit:bookmarks' page=bookmarks.next_page_number %}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% else %}
            <li class="enabled">
                <span aria-hidden="true">&raquo;</span>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
