{% extends 'recruit/base.html' %}
{% load bootstrap3 %}
{% load i18n %}

{% block content  %}

<div class="col-md-6 col-md-offset-3">
	<form id="login" method="POST" action="">
		{% csrf_token %}
		{% bootstrap_form form %}
		<input type="submit" value="{% trans 'login' %}" class="btn btn-primary"/>
		<input type="hidden" name="next" value="{{ next }}"/>
	</form>
	<a href="{% url 'social:begin' 'facebook' %}?next='/' ">{% trans 'Login with Facebook' %}</a>
</div>

<script>
    // facebook OAuth2 configuration
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '{{ SOCIAL_AUTH_FACEBOOK_KEY }}',
            xfbml      : true,
            version    : 'v2.7'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>
{% endblock %}
