.jumbotron {
    margin-bottom: 0px;
    background-size: cover;
    background-color: transparent;
    background-image: url('../images/curry2.jpg');
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    min-height: 400px;
}

.masthead {
    background-color: #337ab7;
}

.masthead > div {
    margin: 50px 50px;
}

.header-text {
    color: white;
}

.simple-post {
    height: 250px;
    border: 1px solid;
}