{% extends 'settings.html' %}
{% load i18n %}

{% block body %}

<div class="col-xs-12 col-sm-12 col-md-12">
	<div >
		<table class="table table-hover table-condensed">
			<tr>
				<th class="col-md-5">{% trans 'username' %}</th>
				<th class="col-md-5">{% trans 'email' %}</th>
				<th class="col-md-1"></th>
			</tr>
			{% for friend in friends %}
			<tr class="row-data">
				<td>{{ friend.username }}</td>
				<td>{{ friend.email }}</td>
				<td>
					<a id="removeFriend" class="btn btn-primary" role="button"
					   onclick="removeFriend('{% url 'accounts:remove_friend' id=friend.id %}?next={{ request.path }}')"
					   value="{% url 'accounts:remove_friend' id=friend.id %}?next={{ request.path }}">
						<span class="glyphicon glyphicon glyphicon-trash"></span>
					</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
<nav style="text-align:center;">
	<ul class="pagination">
		{% if page_obj.has_previous %}
		<li>
			<a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		{% else %}
		<li class="enabled">
			<span aria-hidden="true">&laquo;</span>
		</li>
		{% endif %}

		{% for page in paginator.page_range %}
		{% if page == page_obj.number %}
		<li class="active"><a href="?page={{ page }}">{{ page }}<span class="sr-only">(current)</span></a></li>
		{% else %}
		<li><a href="?page={{ page }}">{{ page }}</a></li>
		{% endif %}
		{% endfor %}

		{% if friends.has_next %}
		<li>
			<a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
		{% else %}
		<li class="enabled">
			<span aria-hidden="true">&raquo;</span>
		</li>
		{% endif %}
	</ul>
</nav>

<script>

function removeFriend(request_url) {
    swal({
        title: "{% trans 'Do you want to remove friend' %}?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "{% trans 'Yes' %}!",
        cancelButtonText: "{% trans 'No' %}!",
    }).then(function() {
        swal({
            title: "{% trans 'Deleted' %}!",
            type: "success"
        }).then(function() {
            $.ajax({
                url: request_url,
                type: "DELETE",
                headers: {
                    Accept : "text/plain; charset=utf-8",
                    "Content-Type": "text/plain; charset=utf-8"
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(data) {
                    window.location.reload();
                },
            })
        })
    })
}


</script>
{% endblock %}
