{% extends 'settings.html' %}

{% block body %}

    <div class="col-md-12">
        <div class="col-md-12" >
            <table class="table table-hover table-condensed" >
                <tr>
                    <th class="col-md-5">e-mail</th>
                    <th class="col-md-1"></th>
                </tr>
                {% for friend in friends %}
                <tr>
                    <td>{{ friend.email }}</td>
                    <td>
                        <a class="btn btn-primary"
                           href="{% url 'remove_friend' id=friend.id %}?next={{ request.path }}" role="button" >
                            <span class="glyphicon glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <nav style="text-align:center;">
        <ul class="pagination">
            {% if friends.has_previous %}
            <li>
              <a href="{% url 'friend_list' page=friends.previous_page_number %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% else %}
            <li class="enabled">
                <span aria-hidden="true">&laquo;</span>
            </li>
            {% endif %}

            {% for page in page_range %}
                {% if page == friends.number %}
                    <li class="active"><a href="{% url 'friend_list' page=page %}">{{ page }}<span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li><a href="{% url 'friend_list' page=page %}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if friends.has_next %}
            <li>
              <a href="{% url 'friend_list' page=friends.next_page_number %}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% else %}
            <li class="enabled">
                <span aria-hidden="true">&raquo;</span>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
