{% extends 'recruit/index.html' %}
{% load i18n %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        <ul id="myTab" class="nav nav-tabs" >
            <li>
                <a href="{% url 'accounts:profile' %}" role="tab" >{% trans 'Profile' %}</a>
            </li>
            <li>
                <a href="{% url 'accounts:friend_list' %}" >{% trans 'Friend' %}</a>
            </li>
            <li>
                <a href="{% url 'recruit:participation_list' %}" >{% trans 'Participation list' %}</a>
            </li>
        </ul>

        <div>
            {% block body %}
            {% endblock %}
        </div>
    </div>

    <script type="text/javascript">
        $('#myTab li').click(function (e) {
            $(this).toggleClass('active');
        });

        <!--$(document).ready(function() {-->
            <!--$('#myTab li:first').tab('show');-->
        <!--});-->
    </script>
{% endblock %}

