<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% load secretkey_tags %}

<html>
<head>
	<title>Basket Together</title>
	<!-- 합쳐지고 최소화된 최신 CSS -->
	<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
	<!-- 부가적인 테마 -->
	<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'sweetalert2/dist/sweetalert2.min.css' %}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans|Oswald|Lobster' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

	<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery-ui-1.12.0/jquery-ui.min.js' %}"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	<script src="{% static 'es6-promise/dist/es6-promise.auto.min.js' %}"></script>
	<script src="{% static 'sweetalert2/dist/sweetalert2.min.js' %}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{{ form.media }}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	{% block header %}
	{% endblock %}
</head>

<body>
<section id="bt-container" class="container-fluid">
	<div class="row-fluid">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 container-frame">
				<div id="symbol" class="navbar-header">
					<a href="{% url 'index' %}"><img id="symbol-image" src="{% static 'images/symbol.png' %}"/></a>
				</div>
				<div id="myNavbar">
					<form class="navbar-form" role="search" action="/recruit/search/" method="post">
						{% csrf_token %}
						<div class="form-group">
							<input name="word" type="text" class="form-control"/>
						</div>
						<button type="submit" class="btn btn-default">
							{% trans 'search' %}
						</button>
					</form>
				</div>
				<span id="menu-button" style="font-size:30px;cursor:pointer">&#9776;</span>
			</div>
		</nav>
	</div>
	<div id="mask"></div>
	<div id="bt-header" class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
		{% block bt-header %}
		{% endblock %}
	</div>

	<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 container-frame">
		<sectoin id="bt-content">
			{% block content %}
			{% endblock %}
		</sectoin>

		<div id="bt-sidebar" aria-expanded="false" class="col-xs-6 col-sm-6 col-md-2 ">
			<div id="login-container">
				{% if user.is_authenticated %}
				{% if user.get_profile.user_image %}
				<img class="profile-image" src="{{ user.get_profile.user_image.url }}"/>
				{% else %}
				<img class="profile-image" src="{% static 'images/social.jpg' %}"/>
				{% endif %}
				<p style="text-align:center;margin-top:5px;">{{ user.username }} 님</p>
				<hr/>
				{% endif %}
				<ul class="menu-list">
					{% if user.is_authenticated %}
					<li>
						<a href="{% url 'accounts:profile' %}">{% trans 'mypage' %}</a>
					</li>
					<li>
						<a href="{% url 'accounts:logout' %}?next={{ request.path }}">
							{% trans 'logout'%}
						</a>
					</li>
					{% else %}
					<li>
						<a href="{% url 'accounts:signup' %}?next={{ request.path }}">
							{% trans 'sign up'%}
						</a>
					</li>
					<li>
						<a href="{% url 'accounts:login' %}?next={{ request.path }}">
							{% trans 'login'%}
						</a>
					</li>
					{% endif %}
				</ul>
				<ul class="menu-list">
					<li>
						<a href="{% url 'recruit:post_list' %}">{% trans 'post list' %}</a>
					</li>
					<li>
						<a href="{% url 'recruit:post_new' %}">{% trans 'new posting' %}</a>
					</li>
				</ul>
			</div>
			<div id="menu-container">

			</div>
		</div>
	</div>
</section>
</body>

<footer id="bt-footer">
	<section>
		<script>
      // google analytics configuration
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{% SECRET_KEY "GOOGLE_ANALYTICS_TRACKING_ID" %}', 'auto');
      ga('send', 'pageview');

			var sidebar = document.getElementById("bt-sidebar");
      var isOpen = sidebar.getAttribute('aria-expanded')

			$(document).ready(function(){
				//검은 막 띄우기
				$('#menu-button').click(function(e){
					e.preventDefault();
					clickNavMenu();
				});

				//검은 막을 눌렀을 때
				$('#mask').click(function () {
					clickNavMenu();
				});
			});

			function clickNavMenu() {

        if(isOpen){
					sidebar.style.width = "250px";
					wrapWindowByMask();
        }
        else{
          sidebar.style.width = "0px";
          unwrapWindowByMask();
				}
				isOpen = !isOpen;
			}

			function wrapWindowByMask(){
        //화면의 높이와 너비를 구한다.
        var maskHeight = $(window).height();
        var maskWidth = $(window).width();

        //마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채운다.
        $('#mask').css({'width':maskWidth,'height':maskHeight});

        //애니메이션 효과
        $('#mask').fadeTo("easing",0.2);
			}

			function unwrapWindowByMask(){
				$('#mask, .window').hide();
			}


		</script>
	</section>
</footer>
</html>
