{% load staticfiles %}
{% load i18n %}

<html>
    <head>
        <title>Basket Together</title>
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'sweetalert2/dist/sweetalert2.min.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans|Oswald|Lobster' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
        <!--<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>-->
        <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui-1.12.0/jquery-ui.min.js' %}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" ></script>
        <script src="{% static 'es6-promise/dist/es6-promise.auto.min.js' %}"></script>
        <script src="{% static 'sweetalert2/dist/sweetalert2.min.js' %}"></script>
        {{ form.media }}

        {% block header %}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{% url 'index' %}">Basket Together</a>
                        </div>
                        <div class="collapse navbar-collapse masthead" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="{% url 'recruit:post_list' %}">{% trans 'post list' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'recruit:post_new' %}">{% trans 'new posting' %}</a>
                                </li>
                            </ul>
                            <form class="navbar-form navbar-left" role="search" action="/recruit/search/" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input name="word" type="text" class="form-control" />
                                </div>
                                <button type="submit" class="btn btn-default">
                                    {% trans 'search' %}
                                </button>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                {% if user.is_authenticated %}
                                <li>
                                    <a href="{% url 'accounts:profile' %}">{% trans 'settings' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'accounts:logout' %}?next={{ request.path }}">{% trans 'logout' %}</a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="{% url 'accounts:signup' %}?next={{ request.path }}">{% trans 'sign up' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'accounts:login' %}?next={{ request.path }}">{% trans 'login' %}</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

            <div style="padding-top: 60px;" >
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <script>
                        $(function(){
                            toastr.{{ message.tags }}('{{ message }}');
                        });
                        </script>
                    {% endfor %}
                </div>
                {% endif %}

                {% block content %}
                {% endblock %}
            </div>

        </div>

        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '1141173975956444',
              xfbml      : true,
              version    : 'v2.7'
            });
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>

    </body>
</html>
