<div id="map"></div>

<script>
var marker;

function initLocation() {
    if("geolocation" in navigator) {
        navigator.geolocation.watchPosition(initMap);
    }
    else{
        initMap({{ base_lat }}, {{ base_lng }});
    }
}

function initMap(position) {
    var location = { lat: position.coords.latitude, lng: position.coords.longitude };
    document.getElementById("{{ id }}").value = location.lat+","+location.lng;

    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: location
    });
    marker = new google.maps.Marker({
        map: map,
        position: location
    });
    var geocoder = new google.maps.Geocoder();
    var infowindow = new google.maps.InfoWindow;
    geocodeAddress(geocoder, map, infowindow);

    map.addListener('click', function(e) {
        marker.setPosition(e.latLng);
        var latlng = e.latLng.lat() + "," + e.latLng.lng();
        document.getElementById("{{ id }}").value = latlng;
        geocodeAddress(geocoder, map, infowindow);
    });

}

function geocodeAddress(geocoder, resultsMap, infowindow) {
    var input = document.getElementById("{{ id }}").value;
    var latlngStr = input.split(',', 2);
    var latlng = {lat: parseFloat(latlngStr[0]), lng: parseFloat(latlngStr[1])};
    geocoder.geocode({'location': latlng}, function(results, status) {
        if (status === google.maps.GeocoderStatus.OK) {
            if (results[2]) {
                infowindow.setContent(results[2].formatted_address);
                infowindow.open(map, marker);
                var addr = document.getElementById("id_address1");
                addr.value = results[2].formatted_address;
            } else {
                window.alert('No results found');
            }
        } else {
            window.alert('Geocoder failed due to: ' + status);
        }
    });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKiwb25tqNpQMxcSQzjjnOwL3Omn6X-l8&callback=initLocation"></script>