{% extends 'recruit/base.html' %}      # template 이하 경로로 설정.
{% load i18n %}

{% block bt-header %}
<div class="col-md-12 jumbotron">
	<h2>
		<strong>Basket Together!!</strong>
	</h2>
	<p>
		<a class="btn btn-primary btn-large" href="{% url 'accounts:login' %}">{% trans 'login' %}!!</a>
	</p>
</div>
{% endblock%}

{% block content %}

<div id="index-posts">
	<div class="index-header">
		<label><strong>{% trans 'recent poting' %}</strong></label>
		<a href="{% url 'recruit:post_list' %}">
			<label class="more" ><strong>{% trans 'more' %} >></strong></label>
		</a>
	</div>
	<div class="row">
		{% for post in posts %}
		<div class="simple-post radius-div" onclick="location.href='{% url 'recruit:post_detail' pk=post.pk %}'">
			<div class="content">
				<div class="region">{{ post.get_region_short_name }}</div>
				<div class="title">
					{{ post.title|safe|linebreaks|truncatechars_html:15 }}
				</div>
				<hr/>
				<div class="status">
					{% trans 'status' %}: {{ post.attend_count }}/{{ post.recruit_count }}<br/>
					{% trans 'meeting date' %}: {{ post.meeting_date|date:"m-d, l" }}<br/>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
