{% extends 'recruit/base.html' %}      # template 이하 경로로 설정.

{% block content %}

    <div class="col-md-12 jumbotron" >
        <h2>
            <strong>Basket Together!!</strong>
        </h2>
        <p>
            <a class="btn btn-primary btn-large" href="{% url 'signup' %}">Sign up!!</a>
        </p>
    </div>

    <div class="row" >
        {% for post in posts %}
        <div class="simple-post" onclick="location.href='{% url 'recruit:post_detail' pk=post.pk %}'" >
            <div class="content">
                <div class="title">
                    <h2>{{ post.title|safe|linebreaks|truncatechars_html:20 }}</h2>
                </div>
                <div class="status">
                    <strong>모집현황</strong>: {{ post.attend_count }}/{{ post.recruit_count }}<br/>
                    <strong>모임날짜</strong>: {{ post.meeting_date|date:"Y-m-d H:i, l" }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
