{% extends 'recruit/base.html' %}      # template 이하 경로로 설정.
{% load i18n %}

{% block bt-header%}
<div class="categorys">
	<div id="theme" class="theme">
		<h4 class="dt region">{% trans 'region' %}</h4>
		<ul class="no-list-style theme-list">
			<li>
				<a href="?region=강원" >
					<span>{% trans 'Gangwon' %}</span>
				</a>
			</li>
			<li>
				<a href="?region=경기" >
					<span>{% trans 'Gyeonggi' %}</span>
				</a>
			</li>
			<li>
				<a href="?region=경남" >
					<span>{% trans 'Gyeongnam' %}</span>
				</a>
			</li>
			<li>
				<a href="?region=경북" >
					<span>{% trans 'Gyeongbuk' %}</span>
				</a>
			</li>
			<li>
				<a href="?region=광주" >
					<span>{% trans 'Gwangju' %}</span>
				</a>
			</li>
			<li>
				<a href="?region=대구" >
					<span>{% trans 'Daegu' %}</span>
				</a>
			</li>
			<li>
				<a href="?region=대전" >
					<span>{% trans 'Daejeon' %}</span>
				</a>
			</li>
			<li>
				<a href="?region=부산" >
					<span>{% trans 'Busan' %}</span>
				</a>
			</li>
			<li>
				<a href="?region=서울" >
					<span>{% trans 'Seoul' %}</span>
				</a>
			</li>
			<li>
				<a href="?region=세종" >
					<span>{% trans 'Sejong' %}</span>
				</a>
			</li>
			<li>
				<a href="?region=울산" >
					<span>{% trans 'Ulsan' %}</span>
				</a>
			</li>
			<li>
				<a href="?region=인천" >
					<span>{% trans 'Inchon' %}</span>
				</a>
			</li>
			<li>
				<a href="?region=전북" >
					<span>{% trans 'Jeonbuk' %}</span>
				</a>
			</li>
			<li>
				<a href="?region=전남" >
					<span>{% trans 'Jeonnam' %}</span>
				</a>
			</li>
			<li>
				<a href="?region=제주" >
					<span>{% trans 'Jeju' %}</span>
				</a>
			</li>
			<li>
				<a href="?region=충남" >
					<span>{% trans 'Chungnam' %}</span>
				</a>
			</li>
			<li>
				<a href="?region=충북" >
					<span>{% trans 'Chungbuk' %}</span>
				</a>
			</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block content %}
<div id="post-list" class="col-md-12">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<table class="table table-hover table-condensed">
			<tr>
				<th class="col-md-1">ID</th>
				<th class="col-md-3">{% trans 'title' %}</th>
				<th class="col-md-1">{% trans 'status' %}</th>
				<th class="col-md-1">{% trans 'author' %}</th>
				<th class="col-md-2">{% trans 'registration date' %}</th>
				<th class="col-md-2">{% trans 'meeting date' %}</th>
			</tr>
			{% for post in posts %}
			<tr class="row-data" onclick="location.href='{% url 'recruit:post_detail' pk=post.pk %}'">
				<td>{{ post.id }}</td>
				<td>{{ post.title }}</td>
				<td>{{ post.attend_count }}/{{ post.recruit_count }}</td>
				<td>{{ post.author }}</td>
				<td>{{ post.registered_date|date:'Y-m-d H:i'}}</td>
				<td>{{ post.meeting_date|date:'Y-m-d H:i' }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
<nav>
	<ul class="pagination">
		{% if page_obj.has_previous %}
		<li>
			<a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		{% else %}
		<li class="enabled">
			<span aria-hidden="true">&laquo;</span>
		</li>
		{% endif %}

		{% for page in paginator.page_range %}
		{% if page_obj.number == page %}
		<li class="active"><a href="?page={{ page }}">{{ page }}<span class="sr-only">(current)</span></a></li>
		{% else %}
		<li><a href="?page={{ page }}">{{ page }}</a></li>
		{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
		<li>
			<a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
		{% else %}
		<li class="enabled">
			<span aria-hidden="true">&raquo;</span>
		</li>
		{% endif %}
	</ul>
</nav>
{% endblock %}
